body {
    font-family: serif;
    font-size: 14pt;
}


img {
    border: 0;
}


p {
    text-align: justify;
    text-indent: 0.5em;
}


textarea {
    font-family: serif;
}


input[type=number],
.num {
    text-align: right;
}


.framed {
    border: solid 2px;
    padding: 0.5em;
    margin: 0.5em;
}


/** titles **/
h1 {
    font-family: sans-serif;
    text-align: center;
}


h2.hCount {
    counter-increment: h2;
    counter-reset: h3;
}


h2.hCount:before {
    content: counter(h2) ". ";
}


h3.hCount {
    counter-increment: h3;
    counter-reset: h4;
}


h3.hCount:before {
    content: counter(h2) "." counter(h3) ". ";
}


h4.hCount {
    counter-increment: h4;
    counter-reset: h5;
}


h4.hCount:before {
    content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}


h5.hCount {
    counter-increment: h5;
    counter-reset: h6;
}


h5.hCount:before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}


h6.hCount {
    counter-increment: h6;
}


h6.hCount:before {
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}


/** table **/

table, th, td {
    border: solid 1px;
}


tr {
    border: none;
}


.no_border {
    border: none;
}


tr.even, csstab64_row.even {
    background-color: #ddd;
}


th {
    background-color: #ccc;
}


.csstab64_table {
    width: 100%;
}


.csstab64_row,
.csstab64_headerCell,
.csstab64_cell {
    vertical-align: middle;
}


/** links **/

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: blue;
}

a.titleAnchor {
    visibility: hidden;
    color: #888;
}


/** error **/
.warning {
    font-weight: 900;
    color: red;
    z-index: 10;
    padding: 3em 4em;
}


.error {
    border: dotted 3px #f00;
    font-weight: 900;
    color: red;
    background-color: yellow;
    z-index: 10;
    padding: 3em 4em;
    opacity: 0.8;
}


#home img {
    height: 50px;
    z-index: 1;
}

div.InB {
    display: inline-block;
}


/** VALIDATION **/
#LeftFoot {
    font-size: 8pt;
    z-index: 5;
    margin-top: 3mm;
    margin-bottom: 2mm;
    margin-left: 3mm;
}

#LeftFoot img {
    border: 0;
    max-width: 20px;
}


.code, pre {
    font-family: Courier, serif;
    font-size: 9pt;
    line-height: 80%;
    text-indent: 0mm;
}


.it {
    font-style: italic;
}


.bo {
    font-weight: 700;
}


.center {
    text-align: center;
}


.TopBottom {
    -webkit-transform: rotate(90deg);  /* Safari */
    -moz-transform: rotate(90deg);  /* Firefox */
    -ms-transform: rotate(90deg);  /* IE */
    -o-transform: rotate(90deg);  /* Opera */
}


.BottomTop {
    -webkit-transform: rotate(-90deg);  /* Safari */
    -moz-transform: rotate(-90deg);  /* Firefox */
    -ms-transform: rotate(-90deg);  /* IE */
    -o-transform: rotate(-90deg);  /* Opera */
}


div.lhead,
div.rhead {
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
}


div#deadlink {
    text-align: center;
    margin: auto;
    width: 100%;
}

div#deadlink img {
    max-width: 90%;
}

div#deadbody {
    width: 77%;
    margin: auto;
    text-align: center;
    padding: 1em 0;
}

span.latex {
    font-family: Times, "Times New Roman", serif;    
    letter-spacing: 1px;
}

span.latex sup {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

span.latex sub {
    text-transform: uppercase;
    vertical-align: -0.5ex;
    margin-left: -0.17em;
    margin-right: -0.13em;
    font-size: 1em;
}

.edit {
    font-size: 0.7em;
}



@media screen {

    a:focus {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: none;
        border-bottom: dotted 1px;
        color: blue;
    }

    a:visited {
        text-decoration: none;
        color: #909;
    }


    h1:hover > a.titleAnchor,
    h2:hover > a.titleAnchor,
    h3:hover > a.titleAnchor,
    h4:hover > a.titleAnchor,
    h5:hover > a.titleAnchor,
    h6:hover > a.titleAnchor,
    a.titleAnchor:hover {
        visibility: visible;
    }


    table, th, td {
        border-color: white;
    }


    /* row hover -> rover */
    table.rover tr:hover, .rover .csstab64_row:hover {
        background-color: #bbb;
    }


    div#noscript {
        text-align: center;
        padding: 1em;
        width: 100%;
        background-color: #777;
        color: #f9f;
    }


        /** marquee design **/
        .marquee {
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            float: left;
            width: 100%;
        }

        .marquee span {
            word-wrap: nowrap;                
            display: inline-block;
            position: relative;
            left: -100%;

            -moz-animation-name: marquee;
            -webkit-animation-name: marquee;

            /** Set the duration, s = seconds **/
            -moz-animation-duration: 20s;
            -webkit-animation-duration: 20s;

            /** How many times the animation to repeat **/
            -moz-animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;

            /** Several options available, use linear for this example **/
            -moz-animation-timing-function: linear;
            -webkit-animation-timing-function: linear;
        }

        .marquee:hover span {
            -moz-animation-play-state: paused;
            -webkit-animation-play-state: paused;
        }

        @-moz-keyframes marquee {
            0% {
                left: 100%;
            }
            100% {
                left: -100%;
            }
        }

        @-webkit-keyframes marquee {
            0% {
                left: 100%;
            }
            100% {
                left: -100%;
            }
        }
        /** marquee ready **/


}  /* @media screen */



@media print {

    /* Elements we do not want to see on print */
    div#noscript,
    div.adm,
    div#language,
    div#LeftFoot,
    div#home
    {
        display: none;
    }

}  /* @media print */
